html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Chronicle Display A", "Chronicle Display B", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.45;
}
.cron {  font-family: "Chronicle Display A", "Chronicle Display B", serif;  }
.goth {  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif; letter-spacing: 0.1em; font-size: 11px; }
.trade {  font-family: 'TradeGothicLTStd-Extended', sans-serif; }

.container-fluid { margin-left: 40px; margin-right: 40px; }
.full { margin-left: 0; margin-right: 0; padding: 0; }

hr {
  border-color: #F05F40;
  border-width: 3px;
}
hr.grey {
  border-color: #f2f2f2;
  border-width: 2px;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #F05F40;
}
a:hover,
a:focus {
  color: #eb3812;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chronicle Display A", "Chronicle Display B", serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-grey {
  background-color: #f5f4f2;
  color: black;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section.firstrow {
  padding-top: 170px;
}
section.secondrow {
  padding: 0;
}
section.thirdrow {
  padding: 0;
}
section.fullrow {
  padding: 80px 0;
  margin: 50px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
section.fullrow img {
  margin: 0 auto;
  text-align: center;
}
hr.hr { margin: 50px 0; border-color: #ccc !important; border-width: 1px !important; }
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
nav { background: none !important }
.navbar-toggle {
    margin: 0;
}
.navbar-default.affix {
    background: black !important;
    padding-bottom: 25px;
  }
.navbar-default {
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  letter-spacing: 0.2em;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  border: 0
}
.navbar-default .navbar-header .navbar-brand {
  color: #F05F40;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #F05F40;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #F05F40 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
.logo { 
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
img.logo  { 
  width:  80px;
}
.watchlogo { 
  color: white; 
  text-transform: uppercase;
  float: left;
  width: 11em;
}
.watchlogo img { 
  float: left; 
  padding-right: 10px;
}
.watchlogo span { 
  padding-top: 7px;
  display: block;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-weight: normal;
  font-size: .8em
}

nav { 
  padding-top: 40px }
header {
  min-height: 100%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  background-size:  cover;
  -o-background-size:  cover;
  background-position: center right;
  background-image: url('../img/header.jpg');
  background-color: #000;
  text-align: left;
  background-repeat: no-repeat;
}
header .header-content {
  position: absolute;
  bottom: -192px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 0;
  color: white
}
header .header-content .header-content-inner {
  padding-left: 20px;
  padding-bottom: 60px;
  position: relative;
}
header .header-content .header-content-inner:after {
  content: '';
  height: 24%;
  width: 1px;
  position: absolute;
  left: 0;
  bottom: 0; 
  background-color: #3e3e3e;
}
header .header-content .header-content-inner h1 {
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-family: "Chronicle Display A", "Chronicle Display B", serif;

}
header .header-content .header-content-inner hr {
  margin: 60px 0 18px 0;
  border-color: #3e3e3e;
  border-width: 1px;
  max-width: 36px;
}
header .header-content .header-content-inner span {
  padding-bottom: 20px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: white;
  font-weight: 100;
  display: block;
  font-size: 10px;
}
header .header-content .header-content-inner small {
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 9px;
  color: #fbfbfb !important;
}
header .header-content .header-content-inner small a {
  color: white;
  font-weight: bold
}
header .header-content .header-content-inner h1 {
  font-size: 3em;
}
header .header-content .header-content-inner p {
  padding-bottom: 85px;
  padding-top: 0;
  font-family: "Chronicle Display A", "Chronicle Display B", serif;
  letter-spacing: .1em;
  font-size: 1em;
  font-weight: normal
}
.headerslogan {
  border-left: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  text-align: right;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  letter-spacing: 0.1em;
}
.bodyslogan {
  border-bottom: 1px solid #f2f2f2;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  letter-spacing: 0.1em;
}
.headerslogan span, .bodyslogan span {
  font-family: "Chronicle Display A", "Chronicle Display B", serif;
}

.pull-quote {
    shape-outside: content-box;
    margin-right: 385px;
    margin-left: -417px;
    float: left;
    font-family: 'TradeGothicLTStd-Extended', sans-serif;
    letter-spacing: .2em;
    line-height: 2em;
    padding-left: 25px;
    color: #a08155;
    display: block;
    padding-top: 40px;
    padding-right: 170px;
    overflow: hidden;
    margin-top: -15px;
    border-left: 2px solid #a08155;
    background: white;
    display: block;
    overflow: hidden;
}
.pull-quote small {
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  letter-spacing: 0.1em;
  clear: both;
  display: block; 
  padding-top: 20px;
  font-size: 10px;
}

.bodywatch { 
  padding-top: 80px; 
  padding-bottom: 80px;
}

.navbar-toggle {
  display: initial;
  color: white
}
.navbar-header {
  float: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}
.navbar-default .navbar-toggle {
  border: none !important;
}

.section-heading {
margin-top: 0;
margin-bottom:  20px;
padding-bottom: 40px;
border-bottom: 2px solid black
}
.avatar { padding-top: 80px; padding-bottom: 20px }

section .center p span.lead {
    color: #a17d4b;
    font-family: 'TradeGothicLTStd-Extended', sans-serif; 
    float: left;
    width: 1.1em;
    font-size: 500%;
    line-height: 106%;
    margin-bottom: 0
}
section .center p span.brown {
    color: #a17d4b;
}
section .center  {
    padding-right: 52px;
    letter-spacing: .05em
}
section .center p {
    line-height: 1.8em
}
.icons { margin: 0 auto; text-align: center; display: inline-block; padding-top: 40px  }
.icons img { float: left; padding-right: 25px  }
.articleicons { margin: 0 auto; text-align: center; display: inline-block; }
.articleicons img { float: left; padding-right: 5px  }

section.bg-main .row:before, section.bg-main .row:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: red;
    z-index: 10;
}
*, *:before, *:after {
    box-sizing: border-box;
}

section.bg-main .container-fluid { border-left: 1px solid #ccc; }
section.bg-main .border { border-left: 1px solid #ccc; }
section.bg-main .borderright { border-right: 1px solid #ccc; }

.watchlink { color: red;  }
.watchlink img { float: left; display: inline; width: 15px !important;}

.articlefooter { text-align: left; float: left; }
.avatararticle { float: left; padding-right: 20px; }

.popover {
   max-width: 100%;
   border-radius: 0 !important;
   -webkit-box-shadow: 10px 10px 60px -12px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 60px -12px rgba(0,0,0,0.75);
   box-shadow: 10px 10px 60px -12px rgba(0,0,0,0.75);
   padding: 40px;
   display: block;
   border: 1px solid #efefef
}

.watch {padding: 20px; border-right: 1px solid #ccc; }
.watchtext { padding: 20px; text-align: center }
.watchtext h2 { text-transform: uppercase; padding-bottom: 12px; font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif; letter-spacing: 0.1em; color: #010101; margin: 0; font-size:1.8rem; font-weight: normal; }
.watchtext h3 { text-transform: uppercase; padding-bottom: 12px; font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif; letter-spacing: 0.1em; color: #010101; margin: 0; font-size: 2rem; font-weight: bold; }
.watchtext h4 { padding-bottom: 12px; font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif; letter-spacing: 0.1em; color: #010101; margin: 0; font-size: 1.4rem; }
.watchtext .body { padding: 15px 0; }
.watchtext p { padding: 25px; color: #333; margin: 0; font-size: 1.4rem; }
.watchtext button { font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif; background: #f5f4f2; border: 1px solid #e8e8e8; letter-spacing: 0.1em; color: #6f6f6d; font-size: 1.2rem; padding: 12px 20px; }

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-high -color: #222222;
}