@import url("https://hello.myfonts.net/count/33fd8c");

@font-face {
    font-family: 'TradeGothicLTStd-Extended';
    font-weight: 700;
    src: url('http://localhost:8888/madebysix/website/fonts/33FD8C_0_0.eot');
    src: url('http://localhost:8888/madebysix/website/fonts/33FD8C_0_0.eot?#iefix') format('embedded-opentype'),
         url('http://localhost:8888/madebysix/website/fonts/33FD8C_0_0.woff2') format('woff2'),
         url('http://localhost:8888/madebysix/website/fonts/33FD8C_0_0.woff') format('woff'),
         url('http://localhost:8888/madebysix/website/fonts/33FD8C_0_0.ttf') format('truetype');
}


@font-face {
    font-family: 'TradeGothicLTStd-Extended';
    font-weight: normal;
    src: url('http://localhost:8888/madebysix/website/fonts/33FD8C_1_0.eot');
    src: url('http://localhost:8888/madebysix/website/fonts/33FD8C_1_0.eot?#iefix') format('embedded-opentype'),
         url('http://localhost:8888/madebysix/website/fonts/33FD8C_1_0.woff2') format('woff2'),
         url('http://localhost:8888/madebysix/website/fonts/33FD8C_1_0.woff') format('woff'),
         url('http://localhost:8888/madebysix/website/fonts/33FD8C_1_0.ttf') format('truetype');
}
